APP_ENV=
APP_PORT=

FRONTEND_URL=
BACKEND_URL=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

REDIS_ADDR=
REDIS_PASSWORD=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
VERIFY_URL=${BACKEND_URL}/...
CORS_ALLOWED_ORIGINS=${FRONTEND_URL},...

PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=

PAYOS_RETURN_URL=${FRONTEND_URL}/...
PAYOS_CANCEL_URL=${FRONTEND_URL}/...
PAYMENT_UPDATE_STATUS_CANCEL_URL=${BACKEND_URL}/...